    <div class="sectionLanding">
        <div class="logo">
            <h1>The Creative Crunch</h1>
        </div>
        
        <div class="landingSnippet">
            <h2>Handpicked collection of the best places to learn Web Design and Development</h2>
        </div>
        
        <div class="landingCTA">
            <a href="#">Choose Your Teacher</a>
        </div>
     </div>
    
    <div class="sectionAbout">
            <h3>Online learning rocks! This site showcases the best sources for learning to code and design as well as keeping up with web design trends.</h3>
    </div>
        
    
